// Colors
$dark-grey: #7d7d7d
$light-grey: #ababab
$lighter-grey: rgba($light-grey,0.125)
$white: white
$purple: #3754a5
$blue: #4b9cd6
$green: #41bb93
$errorTxt: #D8000C
$errorBkg: #FFBABA

// Fonts
$font-stack: 'Lato', sans-serif
$alt-font-stack: 'Raleway', sans-serif

// Container

.container
	width: 80%
	max-width: 1920px
	margin: 0 auto
	padding: 2%

// Text Styles and Definitions
h1
	font-variant: light
	font-size: 24px
	font-family: $font-stack
	color: $blue
h2
	font-variant: bold
	font-size: 19px
	font-family: $font-stack
	color: $green
h3
	font-variant: regular
	font-size: 17px
	font-family: $font-stack
	color: $purple
p
	font-variant: regular
	font-size: 15px
	font-family: $alt-font-stack
	color: $dark-grey
	
ul
	margin: 0
	padding: 0
	list-style: none

// General Body 

body
	background-color: $lighter-grey
	margin: auto

// Button


.button
	display: block
	padding: 10px 20px
	border-radius: 5px
	text-align: center
	text-decoration: none
	font-family: $alt-font-stack
	font-weight: bold
	background-color: $purple
	color: $white
	width: 10em
	transition: all 0.5s ease
	font-size: 1.15em
	cursor: pointer

	&:hover
		background-color: $green
	
	&:active
		background-color: $green

	&:checked
		background-color: $green

// Figures

figure

	figcaption
		font-size: 15px
		font-family: $alt-font-stack
		color: $light-grey
		text-align: center

// Book Form

form
	
	width: 100%

	fieldset
		border-width: 0 none
		border-style: none
		border-color: none

	label, label#returnDate
		text-align: left
		display: inline-block
		width: 150px

	input
		display: inline-block
		text-align: left
		align-item: right
		width: 150px

	#numTickets
		width: 50px

	#departureDate
		width: 120px

	#returnDate
		width: 120px


// Flex Properties

.flex-container
	display: flex
	padding: 0
	list-style: none
	// display: -webkit-box
	// display: -moz-box
	// display: -ms-flexbox
	// display: -webkit-flex
	// -webkit-flex-flow: row wrap
	justify-content: space-between
	flex-direction: row
	flex-wrap: wrap

.flex-item
	
	margin: 10px
	width: auto

// Navigation
.logo
	background-image: url("../images/logo.svg")
	background-repeat: no-repeat
	background-size: contain
	width: 100px
	height: 80px
	align-self: center

nav
	background-color: $lighter-grey
	height: 100px
	display: flex
	justify-content: space-between
	

	#mainMenu
		align-self: center
	
	li
		display: inline
		padding: 10px
	
	a
		color: $dark-grey
		text-decoration: none
		font-variant: light
		font-size: 16px
		font-family: $font-stack
		
		&:hover
			color: $green
		
		&:active
			color: $blue

// Article


// Slideshow
#slideshow
	margin: 0
	padding: 0
	height: 400px
	width: 100%
	position: relative

#slide1
	background: url("../images/slideshow_activities.png") no-repeat center
	background-size: cover
#slide2
	background: url("../images/slideshow_districts.png") no-repeat center
	background-size: cover
#slide3
	background: url("../images/slideshow_history.png") no-repeat center
	background-size: cover
#slide4
	background: url("../images/slideshow_transportation.png") no-repeat center
	background-size: cover

.slide
	width: 100%
	height: 400px
	position: absolute
	top: 0
	left: 0

// Description
#description
	background-color: $white

// Highlights
#highlights

	div.flex-container
		margin: 20px 15px

	.flex-container
		flex-wrap: nowrap
		
	a
		margin: 10px 0	
	
	div:nth-child(odd)
		flex-direction: row

		.highlightContent
			text-align: end
		
		a
			float: right


	div:nth-child(even)
		flex-direction: row-reverse
		
		.highlightContent
			text-align: start

#highlightActivities
	background: url("../images/highlight_activities.png") no-repeat
	background-size: contain
	background-position: center
#highlightDistricts
	background: url("../images/highlight_districts.png") no-repeat
	background-size: contain
	background-position: center
#highlightHistory
	background: url("../images/highlight_history.png") no-repeat
	background-size: contain
	background-position: center

.highlight_image
	width: 400px
	height: 250px

// Tabs

#carRentalImage1
	background: url("../images/tabs_carRental1.png") no-repeat 
	background-size: contain
	background-position: center
#carRentalImage2
	background: url("../images/tabs_carRental2.png") no-repeat
	background-size: contain
	background-position: center
#publicTransporationImage1
	background: url("../images/tabs_publicTransportation1.png") no-repeat
	background-size: contain
	background-position: center
#publicTransporationImage2
	background: url("../images/tabs_publicTransportation2.png") no-repeat
	background-size: contain
	background-position: center

.tabImages
	width: 100%
	height: 300px

.tabs
	overflow: hidden
	border: 1px solid $light-grey
	
	button
		float: left
		border: none
		outline: none
		background-color: inherit
		cursor: pointer
		padding: 15px
		transition: 0.3s
	
		&:hover
			background-color: $white
		
		&.active
			background-color: $dark-grey

	.tabContent
		border-top: none
		border: 1px solid $light-grey
		padding: 6px 12px
		display: none
		transition: 0.3s
	

// Tiles
#tiles

	// Tile Flex Properties

	.flex-item-tile
		@extend .flex-item
		background: $light-grey
		padding: 2px
		width: 300px
		margin-top: 10px
		color: $dark-grey

.container-history
	padding: 10px
	float: center
	width: 60%
	margin: 0 auto 20px auto

.grid-history
	display: grid
	grid-template-columns: 7fr 7fr 7fr
	grid-template-rows: 10fr 10fr
	grid-gap: 33px

.card-history

	background-color: white
	width: 100%
	padding: 10px

// Book

#book
	background-color: $white
	width: 55%

	.trip_button
		margin: 0 0 15px
		@extend .button
		
		&:active
			background-color: $green
		&:inactive
			background-color: $lighter-grey

	label[for="tripOne"],label[for="tripTwo"]
		@extend .button
		width: 100px
		margin-bottom: 15px
		cursor: pointer

	input[type="radio"]
		display: none
		//&:checked + label
		//	background-color: $green

	.errorMessage
		display: none
		width: 300px
		border: 1px solid $errorTxt
		border-radius: 5px
		background-color: $errorBkg
		p
			font-size: 13px
			font-family: $alt-font-stack
			font-weight: bold
			text-align: center
			color: $errorTxt

#cost
	background-color: $lighter-grey
	width: 35%

	table
		width: 100%

		td
			vertical-align: bottom

		td:nth-child(2)
			text-align: right

	a
		float: right
		margin: 20px
		width: 80%

//Footer	
footer
	display: flex
	background-color: $lighter-grey

	section
		justify-content: space-around
		align-content: space-between

	.logoSM
		@extend .logo
		display: block
		align-self: flex-end
		margin: 10px 0px 20px

	#contact
		width: 80%

	#contactForm
		input
			width: 300px
		textarea
			width: 300px

	#sitemap
		width: 20%
		display: flex
		flex-direction: column

		li
			text-align: right

		a
			font-family: $font-stack
			font-size: 14px
			font-variant: bold
			color: $purple
			text-decoration: none