.container {
  width: 80%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 2%;
}

h1 {
  font-variant: light;
  font-size: 24px;
  font-family: "Lato", sans-serif;
  color: #4b9cd6;
}

h2 {
  font-variant: bold;
  font-size: 19px;
  font-family: "Lato", sans-serif;
  color: #41bb93;
}

h3 {
  font-variant: regular;
  font-size: 17px;
  font-family: "Lato", sans-serif;
  color: #3754a5;
}

p {
  font-variant: regular;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  color: #7d7d7d;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: rgba(171, 171, 171, 0.125);
  margin: auto;
}

.button, #book .trip_button, #book label[for="tripOne"], #book label[for="tripTwo"], #purchaseButton, #purchaseButton.enable {
  display: block;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  background-color: #3754a5;
  color: white;
  width: 10em;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 1.15em;
  cursor: pointer;
}

.button:hover, #book .trip_button:hover, #book label:hover[for="tripOne"], #book label:hover[for="tripTwo"], #purchaseButton:hover, .button:active, #book .trip_button:active, #book label:active[for="tripOne"], #book label:active[for="tripTwo"], #purchaseButton:active, .button.active, #book .active.trip_button, #book label.active[for="tripOne"], #book label.active[for="tripTwo"], .active#purchaseButton {
  background-color: #41bb93;
}

figure figcaption {
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  color: #ababab;
  text-align: center;
}

form {
  width: 100%;
}

form fieldset {
  border-width: 0 none;
  border-style: none;
  border-color: none;
}

form label {
  text-align: left;
  display: inline-block;
  width: 150px;
}

form input {
  display: inline-block;
  text-align: left;
  align-item: right;
  width: 150px;
}

form #numTickets, form #numAdults, form #numChildren {
  width: 50px;
  height: 22.5px;
}

form #departureDate, form #returnDate, form #calendarFrom, form #calendarTo {
  width: 120px;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-item, #tiles .flex-item-tile {
  margin: 10px;
  width: auto;
}

.logo, footer .logoSM {
  background-image: url("../images/logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100px;
  height: 80px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

nav {
  background-color: rgba(171, 171, 171, 0.125);
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav #mainMenu {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

nav li {
  display: inline;
  padding: 10px;
}

nav a {
  color: #7d7d7d;
  text-decoration: none;
  font-variant: light;
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

nav a:hover {
  color: #41bb93;
}

nav a:active {
  color: #4b9cd6;
}

#slideshow {
  margin: 0;
  padding: 0;
  height: 400px;
  width: 100%;
  position: relative;
}

#slide1 {
  background: url("../images/slideshow_1.png") no-repeat center;
  background-size: cover;
}

#slide2 {
  background: url("../images/slideshow_2.png") no-repeat center;
  background-size: cover;
}

#slide3 {
  background: url("../images/slideshow_3.png") no-repeat center;
  background-size: cover;
}

#slide4 {
  background: url("../images/slideshow_4.png") no-repeat center;
  background-size: cover;
}

.slide {
  width: 100%;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.visible {
  z-index: 2;
  opacity: 1;
}

#description {
  background-color: white;
}

#highlights div.flex-container {
  margin: 20px 15px;
}

#highlights .flex-container {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#highlights a {
  margin: 10px 0;
}

#highlights div:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#highlights div:nth-child(odd) .highlightContent {
  text-align: end;
}

#highlights div:nth-child(odd) a {
  float: right;
}

#highlights div:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#highlights div:nth-child(even) .highlightContent {
  text-align: start;
}

#highlightActivities {
  background: url("../images/highlight_activities.png") no-repeat;
  background-size: contain;
  background-position: center;
}

#highlightDistricts {
  background: url("../images/highlight_districts.png") no-repeat;
  background-size: contain;
  background-position: center;
}

#highlightHistory {
  background: url("../images/highlight_history.png") no-repeat;
  background-size: contain;
  background-position: center;
}

.highlight_image {
  width: 400px;
  height: 250px;
}

#carRentalImage1 {
  background: url("../images/tabs_carRental1.png") no-repeat;
  background-size: contain;
  background-position: center;
}

#carRentalImage2 {
  background: url("../images/tabs_carRental2.png") no-repeat;
  background-size: contain;
  background-position: center;
}

#publicTransporationImage1 {
  background: url("../images/tabs_publicTransportation1.png") no-repeat;
  background-size: contain;
  background-position: center;
}

#publicTransporationImage2 {
  background: url("../images/tabs_publicTransportation2.png") no-repeat;
  background-size: contain;
  background-position: center;
}

.tabImages {
  width: 100%;
  height: 300px;
}

.tabs {
  overflow: hidden;
  border: 1px solid #ababab;
}

.tabs button {
  float: left;
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
  padding: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.tabs button:hover {
  background-color: white;
}

.tabs button.active {
  background-color: #7d7d7d;
}

.tabs .tabContent {
  border-top: none;
  border: 1px solid #ababab;
  padding: 6px 12px;
  display: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#tiles .flex-item-tile {
  background: #ababab;
  padding: 2px;
  width: 300px;
  margin-top: 10px;
  color: #7d7d7d;
}

.container-history {
  padding: 10px;
  float: center;
  width: 60%;
  margin: 0 auto 20px auto;
}

.grid-history {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7fr 7fr 7fr;
      grid-template-columns: 7fr 7fr 7fr;
  -ms-grid-rows: 10fr 10fr;
      grid-template-rows: 10fr 10fr;
  grid-gap: 33px;
}

.card-history {
  background-color: white;
  width: 100%;
  padding: 10px;
}

#book {
  background-color: white;
  width: 55%;
}

#book .trip_button {
  margin: 0 0 15px;
}

#book label[for="tripOne"], #book label[for="tripTwo"] {
  width: 100px;
  margin-bottom: 15px;
  cursor: pointer;
}

#book input[type="radio"] {
  display: none;
}

#book .errorMessage {
  display: none;
  width: 300px;
  border: 1px solid #D8000C;
  border-radius: 5px;
  background-color: #FFBABA;
}

#book .errorMessage p {
  font-size: 13px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-align: center;
  color: #D8000C;
}

#purchaseButton {
  cursor: not-allowed;
  background: rgba(171, 171, 171, 0.125);
  color: #7d7d7d;
  border: 1px solid #ababab;
}

#purchaseButton:hover {
  background: #ababab;
  color: black;
  border: 1px solid black;
}

#purchaseButton.enable {
  cursor: pointer;
}

#purchaseButton.enable:hover {
  background: #41bb93;
  color: white;
  border: 1px solid white;
}

#cost {
  background-color: rgba(171, 171, 171, 0.125);
  width: 35%;
}

#cost table {
  width: 100%;
}

#cost table td {
  vertical-align: bottom;
}

#cost table td:nth-child(2) {
  text-align: right;
}

#cost a {
  float: right;
  margin: 20px;
  width: 80%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(171, 171, 171, 0.125);
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer section {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

footer .logoSM {
  display: block;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 10px 0px 20px;
}

footer #contact {
  width: 80%;
}

footer #contactForm input {
  width: 300px;
}

footer #contactForm textarea {
  width: 300px;
}

footer #sitemap {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer #sitemap li {
  text-align: right;
}

footer #sitemap a {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-variant: bold;
  color: #3754a5;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */